
body {
    background-image: url("download2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   }
  #parent {
    list-style: none;
    width: 20%;
    height: 60px;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    
}

li.parent  {
    display:inline;
     
    font-size: 25px;
    
    background-color: cyan;
}
li.about {
    display:inline;
    
    font-size: 25px;
    background-color: rgb(19, 128, 19);
}
li.contact {
    display: inline;
    font-size: 25px;
    background-color: teal;

}
h1.welcome {
    color: maroon;
    text-align: center;
    font-size: 60px;
}